.container
  %h1= t('app_name')
  #description
    =t('app_description').html_safe
  
  
  #import_stats
    %p= t('app_stats', import_count: @count, unique_state_count: @unique_state_count, record_count: @record_count)
  
  #new_import.row
    .col-xs-12
      %h3 Upload new voter records file    
    .col-xs-12.col-md-6
      = render 'form'