// import the CSS framework
// Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables.
@import "bootstrap";

$blue: rgb(22,111,189);
$red: rgb(212,62,37);

body {
  padding-bottom: 100px;
}

#watermark {
  background: asset-url('demoWatermark.png') white;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 0;
  opacity: 0.25;
}
header, main {
  position: relative;
  z-index: 1;
}

h1 {
  color: $blue;
  .alpha {
    color: $red;
    font-size: .4em;
    vertical-align: .4em;
  }
}

h3 {
  font-size: 20px;
}



// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  float: right;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-xs-center;
}
.form {
  @extend .col-md-6;
}

form {
  .has-error {
    background: #f2dede;
  }
  .help-block {
    display: block;
    font-size: .9em;
    margin-top: .1em;
    font-weight: bold;
  }
}

.form-centered {
  @extend .col-md-6;
  @extend .text-xs-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 30px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

#run-report, #new-import {
  margin-top: 2em;
}
